
body {
  background-color: #00234
  color: #00000;
  font-size: 100%; /* 16px */
  line-height: 1.5;
}

nav {
  background-color: rgba(131, 186, 224, 0.5);
  float: left;
  position: fixed;
  width: 100%;
}

a{
  text-decoration: none;
}

a:hover{
  color:black;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

figcaption{
  font-size: .7em;
  padding-bottom: 20px;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 20px;
}

h3 {
  font-size: 1.5em;
  padding-bottom: 20px;
}

p {
line-height: 120%
padding-bottom: 20px;
}

.author{
  font-style: italic;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
