
body {
  background-color: #00234
  color: #00000;
  font-size: 100%; /* 16px */
  line-height: 1.5;
  image url(images/bloc-logo.png)
}

  h1 {
  font-size: 30;
}

h3 {
  font-size: 25;
}

nav {
  background-color: rgba(131, 186, 224, 0.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
